.element__trash-button {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../../../images/trash-button.svg);
  background-size: 100% 100%;
  width: 18px;
  height: 19px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
  .element__trash-button:hover {
    transition: opacity 0.3s linear;
    opacity: 0.6;
  }
}
