.elements__cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 980px) {
  .elements__cards {
   grid-template-columns: repeat(2, 1fr);
   justify-items: center;
  }
}

@media screen and (max-width: 680px) {
  .elements__cards {
   grid-template-columns: minmax(282px, 1fr);
   grid-template-rows: 361px;
  }
}
